[firmware_retraction]
retract_length: 0.8
retract_speed: 120
unretract_extra_length: 0
unretract_speed: 60

[extruder]
nozzle_diameter: 0.400
max_temp: 280               # Safe default.
# smooth_time: 0.2            # May help with temp oscillations

[z_tilt]
z_positions:        # Position of bed pivot points
    -7, 22          # Measure at bed retaining bolts
    -7, 275
    328, 150
points:
    10, 10
    295, 116
    10, 239

retries: 4
retry_tolerance: 0.005 
speed: 250  

# Uncomment to adjust max speeds
# [printer]
# max_velocity: 300  
# max_accel: 3000
# max_z_velocity: 10 			
# max_z_accel: 200

# Resonance compensation - see:
# https://www.klipper3d.org/Measuring_Resonances.html
# --------------
# [input_shaper]
# shaper_freq_x: 48.4
# shaper_type_x: mzv
# shaper_freq_y: 51
# shaper_type_y: zv


# Axis limits 
# -----------
# These are conservative defaults - adjust to match your build.
[stepper_x]
position_max: 290

# position_endstop: 0       # Adjust if using X max homing

[stepper_y]
position_max: 290

[stepper_z]
position_max: 300

[force_move]
enable_force_move: True

[verify_heater extruder]
check_gain_time: 60 # PCF can cause PID tuning to fail at higher temps, bump gain time
hysteresis: 10
max_error: 200